name: windows
on:
  push:
    branches: [main]
    tags: ['v*']
  pull_request:
    branches: [main]
  workflow_dispatch: {}
permissions:
  contents: read
jobs:
  ci:
    runs-on: windows-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24.x'
      - id: go-cache-paths
        shell: bash
        run: |
          echo "go-mod=$(go env GOMODCACHE)" >> $GITHUB_OUTPUT
      - name: Mod Cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ runner.os }}-ci-go-mod-${{ hashFiles('**/go.sum') }}
      - name: Test
        shell: bash
        run: |
          go build ./...
          go test -vet=off -race ./...
